* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.x {
	border: rgb(231, 176, 56);
	border-radius: 50%;
	cursor: pointer;
	
	float: right;
}
.x:hover {
	color: rgb(137, 3, 3);
	
}
.App{
	
			background-color: #f3f0f0;
				border-radius: 8px;
				border: 5px solid #FF00FF;
				padding: 20px;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
				width: 300px;
				
		
}